*~
model.log
*/input.csv
__pycache__
.python-version
output/*
metadata/*
venv/
.Rproj.user

# History files
.Rhistory

# Session Data files
.RData
icc_value.csv
m_adj.csv
m_adj.txt
zz.csv
AEm_adj.csv
AEm_adj.rds
AEm_adj.txt
m_adj.txt
console.txt
m_adj.txt
AEm_adj.txt
